:root {
  --corum: #1E8449;
  --cordois: #444444;
  --cortres: #171717;
  --corquatro: #1CC206;
  --corcinco: #FFFFFF;
  --lemonade: #B8FB3C;
  --electric: #03045E;
}
.img {
  height: 80px;
  width: auto;
  position: relative;
  left: 1rem;
  transition: transform 0.3s ease;
}

.img:hover {
  transform: scale(1.05);
}

/* ===== HEADER PRINCIPAL ===== */
.header {
  width: 100%;
  height: 100px;
  background-color: var(--lemonade);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* ===== LOGO ===== */



.logo {
  height: 80px;
  width: auto;
  position: relative;
  left: 1rem;
  transition: transform 0.3s ease;
}




/* ===== NAVEGAÇÃO ===== */
.navegacao {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.navegacao a {
  color: var(--electric);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  transition: color 0.3s ease;
}

.navegacao a:hover {
  color: var(--cordois);
}

.navegacao a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 3px;
  background-color: var(--electric);
  border-radius: 3px;
  transition: width 0.3s ease;
}
button.sair{
  all: unset;   /* remove todos os estilos globais */
  cursor: pointer; 
  padding: 10px;
  color: var(--electric);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  transition: color 0.3s ease;
}

.navegacao a:hover::after {
  width: 100%;
}

.navegacao a.active {
  color: var(--electric);
   font-weight: 800;       
  font-size: 1.3rem;     
  transition: all 0.3s ease; 
}

.navegacao a.active::after {
  width: 100%;
  background-color: var(--electric);
  height: 3px;            
  background-color: var(--electric);
  border-radius: 4px;     
  transition: all 0.3s ease;
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 430px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .navegacao {
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  .navegacao a {
    font-size: 1rem;
  }

  .active {
    font-size: 1.1rem;
  }
}
