:root {
  --corum: #1E8449;
  --cordois: #444444;
  --cortres: #171717;
  --corquatro: #1CC206;
  --corcinco: #FFFFFF;
  --lemonade: #B8FB3C;
  --electric: #03045E;
}

.containercampo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
}
