:root {
  --corum: #1E8449;
  --cordois: #444444;
  --cortres: #171717;
  --corquatro: #1CC206;
  --corcinco: #FFFFFF;
  --lemonade: #B8FB3C;
  --electric: #03045E;
  --azulEscuro:#0b0c2a;
}

.container {
  display: flex;
 
  min-height: calc(100vh - 120px); 
  
  position: relative; 
}


.box { 
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15px;

  position: absolute;
  right: 30px;
  top: 100px;
  bottom: 30px;
  background: var(--lemonade); 
  
  border-radius: 20px;
  box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.4), 0 0 15px rgba(3, 4, 94, 0.3);
  border-left: 3px solid var(--electric);
  z-index: 10;
  animation: floatIn 0.6s ease-out;
}


@keyframes floatIn {
  from {
    transform: translateX(5px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.listItem {

  padding: 0; 
  margin: 0; 
}


.box a {
  display: block;
  text-align: center;
  text-decoration: none;

  font-size: 18px;
  font-weight: 700; 
  color: var(--electric);
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
  
  background-color: transparent;
  border: 2px solid transparent; 
  
  /* Transição suave para hover/active */
  transition: all 0.3s ease;
}

.box a.active {
  transform: scale(1.02);
  border: 2px solid var(--electric);
  box-shadow: 0 0 10px var(--electric);
  background-color: var(--lemonade);
  font-weight: 800;
}
.toggleBtn {
  width: 120px;
  height: 45px;
  background: var(--lemonade);
  color: var(--electric);
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  position: relative;
  left: 106rem;
  top: 1rem;
}

.toggleBtn:hover {
  background: var(--azulEscuro);
}

/* animação de entrada do dropdown */
.box {
  animation: dropdownIn 0.4s ease-out;
}
 .listItem > a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--electric) !important;
  text-decoration: none;
  font-weight: 600;
}

.icon {
  font-size: 18px;
  color: var(--electric) !important;
}

@keyframes dropdownIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 430px) {
  .container {
    flex-direction: column;
    padding: 1rem;
  }

  .box {
    position: static;
    width: 100%;
    max-width: 90%;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.3), 0 0 10px rgba(3, 4, 94, 0.2);
  }

  .box a {
    font-size: 1rem;
    padding: 0.6rem 1rem;
  }

  .menuList {
    gap: 10px;
  }
  .toggleBtn {
    position: relative;
    left: 0rem;
    width: 100%;
    max-width: 200px;
    margin: 1rem auto;
  }
}



