:root {
  --corum: #1E8449;
  --cordois: #444444;
  --cortres: #171717;
  --corquatro: #1CC206;
  --corcinco: #FFFFFF;
  --lemonade: #B8FB3C;
  --electric: #03045E;
}
.painel_controle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -5rem;
}


.h1adm{
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    top: 9rem;
    color: var(--lemonade);
    border-bottom: solid 2px #fff;
    font-size: 40px;
    
}

.option_painel{
    width: 65rem;
    height: 40rem;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--cordois);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.option_painel{
    position: relative;
    top: 4rem;
}
.usercount{
    position: relative;
    top: 10rem;
    left: -24rem;
    font-size: 20px;
    margin-top: 10px;
    z-index: 1;
}

.numberuser{
    position: relative;
    left: 5.5rem;
    color: #FFFFFF;
}
.textuser{
    font-weight: bold;
    color: #FFFFFF;
}
@media (max-width: 430px) {

  .painel_controle {
    top: 0;
    padding: 1rem;
    
  }

  .h1adm {
    font-size: 1.8rem;
    top: 3rem;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .option_painel {
    width: 100%;
    height: 20rem;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    top: 1rem;
  }

  .usercount {
    position: relative;
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
    left: -5rem;
    top: 21rem;
  }

  .numberuser {
    position: static;
    display: block;
    text-align: center;
    margin-top: 0.5rem;
  }

  .textuser {
    text-align: center;
    display: block;
    margin-top: 0.5rem;
  }
}
