:root {
  --corum: #1E8449 ;
  --cordois: #444444;
  --cortres: #171717;
  --corquatro: #1CC206;
  --corcinco: #FFFFFF;
  --lemonade: #b8ff00;
  --electric: #03045E;
  font-family: "inter", monospace;
  
}

.containe-agend-adm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 8rem;
}
.h1agendamentoadm{
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    top: 2rem;
    color: var(--lemonade);
    border-bottom: solid 2px #fff;
    font-size: 40px;
    
}
.tabela-agend-adm{
    width: 80rem;
    margin-top: 4rem;
    border-radius: 8px;
    background-color: var(--cordois);
    padding: 2rem;
    color: white;
    font-size: 1.6rem;
}
.tabela-agend-adm th, .tabela-agend-adm td{
    padding: 1rem 2rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
@media (max-width: 430px) {
  .containe-agend-adm {
    top: 2rem;
    padding: 1rem;
  }

  .h1agendamentoadm {
    font-size: 1.8rem;
    top: 0;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .tabela-agend-adm {
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    overflow-x: auto;
    display: block;
  }

  .tabela-agend-adm th,
  .tabela-agend-adm td {
    padding: 0.5rem 1rem;
    white-space: nowrap;
  }
}

.button{
  padding: 10px;
  font-size: 1.2rem;
  border: #1E8449;
  background-color:var(--lemonade);
  border-radius: 6px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  font-weight: 600;
}

.button:hover{
    transform: scale(1.05);
}
