/* Sobre.module.css */


.societyBox {
    background-color: #444444;
    padding: 1.25rem;
    border-radius: 0.5rem;
    margin-top: 1.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 90%; /* Adiciona flexibilidade */
    margin-left: auto;
    margin-right: auto;
}

.societyBox p {
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.6;
    text-align: justify;
}

/* Responsividade para telas menores */
@media (max-width: 600px) {
    .societyBox {
        padding: 1rem;
        border-radius: 0.4rem;
    }

    .societyBox p {
        font-size: 0.95rem;
    }
}